<!doctype html>
<html>
  <head>    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    
    <%= stylesheet_link_tag "normalize", "all", "grid" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>