---
title: Testing out Middleman

current_city: San Francisco
lat: 37.788337
lon: -122.407316
---
<div class="intro">
  <div class="container">
    <h1>Hello...<span class="blinker">|</span></h1>
    <h2>I'm a developer in San Francisco, CA.</h2>
    <br>
    <p>
    </p>
    <br>
    <div class="want">
      <%= mail_to 'joeydcody@gmail.com', "email me.", class: 'more' %>
    </div>
    <br>
    <br>
  </div>
</div>

<div class="container main">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="post">
        <h1>One</h1>
        <img src="<%= lorem.image('200x200') %>" />
        <p><%= lorem.paragraph %></p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="post">
        <h1>One</h1>
        <img src="<%= lorem.image('200x200') %>" />
        <p><%= lorem.paragraph %></p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="post">
        <h1>One</h1>
        <img src="<%= lorem.image('200x200') %>" />
        <p><%= lorem.paragraph %></p>
      </div>
    </div>
  </div><!-- /row -->
</div><!-- /container -->


<div class="sub-call">
  <div class="container">
  <br>
    <div class="row">
    <% 4.times do %>
      <div class="col-xs-3">
        <img src="<%= lorem.image('50x50') %>" />
      </div>
    <% end %>
    </div>
  <br>
  </div>
</div>

<div class="space"></div>
