---
title:

current_city: San Francisco, CA
lat: 37.788337
lon: -122.407316
---
<div class="intro">
  <div class="container">
    <h1>Hello...<span class="blinker">|</span></h1>
    <h2>I'm a developer in <%= current_page.data.current_city %>.</h2>
    <br>
    <p>
    </p>
    <br>
    <div class="want">
      <%= mail_to 'joeydcody@gmail.com', "email me.", class: 'more' %>
    </div>
    <br>
    <br>
  </div>
</div>

<div class="container main">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="post">
        <h3>Honolulu Answers</h3>
        <img src="<%= lorem.image('200x200') %>" />
        <p>Quickly get answers about Honolulu city services. Rails site using basic NLP and AJAX requests for searching. Has been forked and is also used as <%= link_to "Oakland Answers", 'http://answers.oaklandnet.com' %>.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="post">
        <h3>SexInfo Online</h3>
        <img src="<%= lorem.image('200x200') %>" />
        <p>Human sexuality resource that reaches over 100k uniques from 180+ countries across the world. PHP + SQL site that has been converted to Drupal.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="post">
        <h3>jekyllmap</h3>
        <img src="<%= lorem.image('200x200') %>" />
        <p>Render a map using basic markdown. Jekyll converts the markdown to a GeoJSON file which is then plotted using LeafletJS.</p>
      </div>
    </div>
  </div><!-- /row -->
</div><!-- /container -->


<!-- <div class="sub-call">
  <div class="container">
  <br>
    <div class="row">
    <% 4.times do %>
      <div class="col-xs-3">
        <img src="<%= lorem.image('50x50') %>" />
      </div>
    <% end %>
    </div>
  <br>
  </div>
</div>

<div class="space"></div> -->
